---
layout: archive
title: "Publications &#128221;"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol>
<li><strong>Zhou, J.</strong>, Peng, J. (Supervisor), Wu, J., Wei, Z., Fan, Y., & Guo, X. (2024). Multi-performance Enhanced Eco-Driving Strategy for Connected Fuel Cell Hybrid Electric Bus Based on Stein Soft Actor-3-Critic. Energy. 132697.<strong> (JCR Q1, IF=9)</strong>. [<a href="https://doi.org/10.1016/j.energy.2024.132697
        
        
        
        
        " target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li>Peng, J.(Supervisor), <strong>Zhou, J.</strong>, Chen, J., Pi, D., Wu, J., Wang, H., & Ding, F. (2023). Multiple Electric Components Health-Aware Eco-Driving Strategy for Fuel Cell Hybrid Electric Vehicle Based on Soft Actor-Critic Algorithm. IEEE Transactions on Transportation Electrification.<strong> (JCR Q1, IF=7.2)</strong>. [<a href="https://doi.org/10.1109/TTE.2023.3339490
        
        
        
                      
        " target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li>Chen, W., Peng, J. (Supervisor), Chen, J.,<strong>Zhou, J.</strong>, Wei, Z., & Ma, C. (2023). Health-considered Energy Management Strategy for Fuel Cell Hybrid Electric Vehicle Based on Improved Soft Actor Critic Algorithm Adopted with Beta Policy. Energy Conversion and Management, 292, 117362.<strong> (JCR Q1, IF=10.4)</strong>. [<a href="https://doi.org/10.1016/j.enconman.2023.117362
        
        
        
                   
        " target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li>Wang, Z., He, H., Peng, J., Chen, W., Wu, C., Fan, Y., & <strong>Zhou, J.</strong> (2023). A Comparative Study of Deep Reinforcement Learning Based Energy Management Strategy for Hybrid Electric Vehicle. Energy Conversion and Management, 293, 117442.<strong> (JCR Q1, IF=10.4)</strong>. [<a href="https://doi.org/10.1016/j.enconman.2023.117442
        
        
        
                
        " target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li>Wu, D., Peng, J., Yu, S., Ge, Y., Ma, C., & <strong>Zhou, J.</strong> (2025). UKD-TEAD: An Unsupervised Knowledge Distillation Framework for Detecting Anomalies in Traffic Equipment with Various Aspect Ratios. IEEE Internet of Things Journal<strong> (JCR Q1, IF=8.2)</strong>. [<a href="https://doi.org/10.1109/JIOT.2024.3524788
        
        
        
           
        " target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li>Peng, J., Yu, S., Ge, Y., Li, S., Fan, Yi., <strong>Zhou, J.</strong>, & He, H. (2025). Personalized Decision-Making Framework for Collaborative Lane Change and Speed Control Based on Deep Reinforcement Learning. IEEE Transactions on Intelligent Transportation Systems.<strong> (JCR Q1, IF=7.9)</strong>. [<a href="https://doi.org/10.1109/TTE.2023.3339490
        
        
        
           
        " target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>

<h2>Conference Papers</h2>
<ol>
<li>Guo, X., Ma, C. (co-supervisor), <strong>Zhou, J.</strong>, & Peng, J. (supervisor) (2025). MAPPOFormer: A Multi-Agent Reinforcement Learning Framework for Optimized Autonomous Platoon Control with Transformer Integration. Transportation Research Board (TRB) 2025.</li>
<li>Guo, X., Peng, J. (supervisor), <strong>Zhou, J.</strong>, & Ma, C. (co-supervisor) (2025). UKD-TIAD: Unsupervised Knowledge Distillation for Traffic Infrastructure Anomaly Detection. Transportation Research Board (TRB) 2025.</li>
<li><strong>Zhou, J.</strong>, He, H, Shi, Y., Chen, W., Peng, J. (Supervisor), & Ma, C. (2024, October). Comprehensive Eco Driving Framework for Connected Fuel Cell Hybrid Electric Bus on Highway Based on Improved Soft Actor-Critic Algorithm. In 2024 8th CAA International Conference on Vehicular Control and Intelligence (CVCI). IEEE.</li>
<li>Shi, Y., He, H, <strong>Zhou, J.</strong>, Peng, J. (Supervisor), Fan, Y., & Ma, C. (2024, October). Decision Framework for Unsignalized Intersection Based on Discrete Soft Actor-Critic with Attention Mechanism and Occupancy Grid Integration. In 2024 8th CAA International Conference on Vehicular Control and Intelligence (CVCI). IEEE.</li>
<li>Chen, W., <strong>Zhou, J.</strong>, Wang, C., Pan, X., Fan, X., & Peng, J. (2022). Health-Aware Energy Management Strategy for Fuel Cell Hybrid Electric Vehicle Based on Soft Actor-Critic Algorithm. Energy Proceedings 2023, 2004, 2965.</li>
</ol>

<h2>Under Review</h2>
<ol>
<li>(2025). Deep Reinforcement Learning-Tuning Hierarchical Vehicle Trajectory Tracking Framework Based on Improved Kinematic Model Predictive Control.</li>
<li>(2025). Autonomous Unprotected Left Turns: An Integrated Decision-Making and Motion Planning Framework Based on Deep Reinforcement Learning.</li>
<li>(2025). Eco-driving Strategy for Series Hybrid Electric Vehicle Based-on Multi-Objective Deep Reinforcement Learning.</li>
<li>(2025). Towards Ecological Driving on Highway: A Multi-objective Decision-making Framework for Connected FCHEVs via Offline-to-Online Reinforcement Learning.</li>
<li>(2025). Multi-level Attention Driven Decision-Making Framework for Unsignalized Intersections based on Dual-Buffer Soft Actor-Critic.</li>
</ol>
</p> 
