---
layout: archive
title: "Publications &#128221;"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>
<li><strong>Zhou, J..</strong>, Peng, J. (Supervisor), Wu, J., Wei, Z., Fan, Y., & Guo, X. (2024). Multi-performance Enhanced Eco-Driving Strategy for Connected Fuel Cell Hybrid Electric Bus Based on Stein Soft Actor-3-Critic. Energy. 132697. (JCR Q1, IF=9). [<a href="https://doi.org/10.1016/j.energy.2024.132697.
        
        " target="_blank" rel="noopener noreferrer">Link</a>]</li>



</ol>

<h2>Conference Papers</h2>
<ol reversed>
<li><strong>Wu, S.</strong>, Thoram, S., Sun, J., Sager, W. W. & Chen, J., 2024. Transforming the interpretation of marine magnetic anomalies through a machine learning-based framework. In AGU (American Geophysical Union) Annual Meeting Abstracts.</li>

</ol>

</p> 
